<!-- <!-- 📊 Statistiques globales --> 
{% if stats %}
<div class="row mb-3 text-center">
    {% for stat, label, color, icon in stats %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
        <div class="card shadow-sm border-0 text-light bg-{{ color }} p-2">
            <div class="card-body p-2">
                <i class="fas {{ icon }} fa-lg mb-1"></i>
                <h6 class="fw-bold m-0 small">{{ label }}</h6>
                <h4 class="fw-bold m-0">{{ stat }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
